<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello World</title>
  <!-- STYLE -->
  <link rel="stylesheet" href="./styles/home.css">
  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
</head>
<body>

  <div>
    <h1>HELLO WORLD</h1>
    <p>FINANCE</p>
  </div>

  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum tempore dolorem nesciunt minus adipisci sequi? Nemo vero sit optio voluptatem illo repellat blanditiis. Voluptatum voluptates nihil totam placeat laudantium dolore?
  </div>

</body>
</html>